{% extends 'base.html.twig' %}

{% block title %}TrT Consultant - Attente de Validation{% endblock %}



{% block content %}

    <div class="banner container d-flex flex-column justify-content-center align-items-center">
        <div class="card">
            <div class="card-header alert alert-success" role="alert">
                <p class="text-center fa-3x">Bienvenue ! </p>
            </div>
            <div class="card-body">
                <h1 class="card-title text-center">Pour accéder à nos services, rendez-vous sur votre compte</h1>
            </div>
        </div>
    </div>

{% endblock %}