{% extends 'base.html.twig' %}

{% block title %}TrT Consultant - Votre email est vérifié{% endblock %}

{% block content %}

    <div class="banner container m-auto">
        <div class="card text-center m-5 p-5">


            <div class="card-header alert alert-info" role="alert">
                <p>
                    Un mail de confirmation vient de vous être Envoyé !
                </p>
            </div>

            <div class="card-body">
                <h1 class="card-title">Confirmer votre adresse email</h1>
                <p class="card-text">Un email vient de vous être envoyé dans votre messagerie.</p>
                <p class="card-text">Suivez le lien dans le mail pour confirmer votre adresse.</p>

            </div>
            <div class="card-footer alert alert-warning text-secondary ">
                Le lien reste valide pendant 1 heure !
            </div>
        </div>
    </div>




    <div class="container">


    </div>
{% endblock %}

