<div class="jumbotron banner m-auto">


    <div class="container hero">

        <div class="row-cols row-col-md-2 justify-content-evenly d-md-flex align-items-center m-auto">
            <div class="card p-2 shadow-lg shadow-white mb-5 mb-md-0" style="width: 26rem; height: 22rem;">
                <img src="{{ asset('build/images/candidat.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">je cherche un emploi</h5>
                    <a href="#" class="btn btn-secondary">Créer un compte candidat</a>
                </div>
            </div>
            <div class="card p-2 shadow-lg" style="width: 26rem; height: 22rem;">
                <img src="{{ asset('build/images/recruteur.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">je cherche du personnel</h5>
                    <a href="#" class="btn btn-secondary">Créer un compte recruteur</a>
                </div>
            </div>
        </div>
    </div>

</div>