<div class="banner m-auto">


    <div class="container hero">

        <div class="row-cols row-col-md-2 justify-content-evenly d-md-flex align-items-center m-auto">
            <div class="card p-2 shadow-lg shadow-white mb-5 mb-md-0">
                <img src="{{ asset('build/images/candidat.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <a href="#" class="btn btn-outline-primary text-uppercase fs-3 text-black px-5">postuler</a>
                </div>
            </div>
            <div class="card p-2 shadow-lg">
                <img src="{{ asset('build/images/recruteur.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <a href="#" class="btn btn-outline-primary text-uppercase fs-3 text-black px-5">recruter</a>
                </div>
            </div>
        </div>
    </div>

</div>