{% extends 'base.html.twig' %}

{% block title %}Espace Candidat{% endblock %}

{% block content %}
    <div class="banner  container-xl px-4 mt-4 mb-5">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link active ms-0"
               href="{{ path('app_recruiter_details', {id: app.user.recruiter.id}) }}">
                Mon Profil
            </a>
            <a class="nav-link text-capitalize"
               href="{{ path('app_announce_recruiter', {id: app.user.recruiter.id}) }}">
                mes annonces
            </a>
            <a class="nav-link text-capitalize"
               href="{{ path('app_announce_new') }}">
                Publier une Annonce
            </a>
            <a class="nav-link text-capitalize"
               href="#">
                Voir les Candidatures
            </a>

        </nav>
        <hr class="mt-0 mb-4">

        <div class="banner">
            {{ include('announce/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
