{% extends 'base.html.twig' %}

{% block title %}Espace Candidat{% endblock %}

{% block content %}
    <div class="banner">
        {{ include('announce/_form.html.twig') }}
    </div>
{% endblock %}
