{% extends 'base.html.twig' %}

{% block title %}Completer mon profil{% endblock %}

{% block content %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container d-flex flex-column justify-content-center align-items-center px-4 mt-4">
        {{ include('candidate/profil/_profil_candidate_navigation.html.twig') }}

        {{ include('candidate/profil/_form.html.twig') }}
    </div>

{% endblock %}
