{% extends 'base.html.twig' %}

{% block title %}TrT Consultant - Attente de Validation{% endblock %}

{% block content %}
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="card">
            <div class="card-header alert alert-warning" role="alert">
                <p class="text-center fa-3x">Patience ! </p>
            </div>
            <div class="card-body">
                <h1 class="card-title text-center">En attente de validation</h1>

                <p class="card-text">Votre compte est en attente de validation par notre équipe de consultant</p>
            </div>
        </div>
    </div>

{% endblock %}