{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css'), source('@styles/email.css')) %}
    <container>
        <row class="header">
            <columns>
                <h1 class="text-center">
                    Trt Consulting
                </h1>
            </columns>
        </row>
        <row>
            <columns>
                <spacer size="30"></spacer>
                <h2 class="text-center">
                    Votre candidature est approuvée !
                </h2>
                <spacer size="10"></spacer>
            </columns>
        </row>
        <spacer size="30"></spacer>
        <row>
            <columns>
                <p>
                    Un email avec votre cv, vient d'être envoyé au recruteur.
                </p>
                <p>
                   En attendant une réponse du recruteur, vous pouvez continuer votre recherche !
                </p>
            </columns>
        </row>
        <row>
            <columns  class="text-align-center">

                    <button href="{{ path('app_announce') }} class=rounded">Retour aux annonces</button>

            </columns>
        </row>

        <row class="footer">
            <columns>
                <p>Notre équipe de consultants spécialisés <em>Hôtellerie/Restauration</em> est à votre écoute</p>
            </columns>
        </row>

    </container>
{% endapply %}